.canvas_section {
  display: flex;
  margin: 40px;
  align-items: center;
  justify-content: center;
}

.curtain {
  font-family: 'Lobster';
  font-size: 50px;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  // background-color: red;
  position: fixed;
  z-index: -1;
  top: 0;
  &.active { 
          // Slide the first panel
        div.curtain__panel--left {
          transform: translateX(0);
        }
        
        // Slide the second panel
        div.curtain__panel--right {
          transform: translateX(0);
        }
        z-index: 999;
  } 
  &.transitioning {
    
    z-index: 999;
  }
  
  &__wrapper {
    width: 100%;
    height: 100%;
    
    input[type=button] {
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 100%;
      z-index: 100;
      opacity: 0;
      top: 0;
      left: 0;
      
    }
  }
  
  &__panel {
    display: flex;
    align-items: center;
    background: linear-gradient(rgb(160, 40, 40) 50%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, rgb(160, 40, 40) 53%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, rgb(160, 40, 40) 50%, rgba(255,255,255,0) 0) 55px 0 rgb(190, 90, 90);
    background-size: 110px 200px;
    background-repeat: repeat-x;
    color: rgb(200, 180, 65);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    float: left;
    position: relative;
    width: 50%;
    height: 100vh;
    transition: all 1s ease-out;
    z-index: 2;
    &--left {
      justify-content: flex-end;
      transform: translateX(-100%);
    }
    &--right {
      justify-content: flex-start;
      transform: translateX(100%);
    }
  }

  &__content {


    flex-direction: column;
    height: 100%;
    position: absolute;
    text-align: center;
    z-index: 1;
    width: 100%;
  }

}